<phpunit bootstrap="tests/autoload.php">
  <filter>
    <whitelist>
        <directory suffix=".php">src</directory>
    </whitelist>
</filter>
<logging>
    <log type="tap" target="tests/logs/report.tap"/>
    <log type="junit" target="tests/logs/report.junit.xml"/>
    <log type="coverage-html" target="tests/logs/coverage"/>
    <log type="coverage-text" target="tests/logs/coverage.txt"/>
    <log type="coverage-clover" target="tests/logs/clover.xml"/>
</logging>
  <testsuites>
    <testsuite name="utils">
      <directory>tests/utils</directory>
    </testsuite>
    <testsuite name="api">
      <directory>tests/api</directory>
    </testsuite>
    <testsuite name="misc">
      <directory>tests/misc</directory>
    </testsuite>
  </testsuites>
</phpunit>
