<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "restapi/v1/(.*)$" api/v1/restapi.php [QSA,L]
  RewriteRule "authapi/v1/(.*)$" api/v1/authapi.php [QSA,L]
</IfModule>
