<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "cmsapi/v1/(.*)$" api/v1/cmsapi.php [QSA,L]
  RewriteRule "authapi/v1/(.*)$" api/v1/authapi.php [QSA,L]
  RewriteRule "fileapi/v1/(.*)$" api/v1/fileapi.php [QSA,L]
  RewriteRule "adminapi/v1/(.*)$" api/v1/adminapi.php [QSA,L]
</IfModule>
